**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
	 Пригодится в большинстве ситуаций
	 (когда, например, нужно будет "прижать" футер к низу сайта)
	*/
   height: 100%;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
	 Пригодится в большинстве ситуаций
	 (когда, например, нужно будет "прижать" футер к низу сайта)
	*/
   min-height: 100%;
   /**
	 Унифицированный интерлиньяж
	*/
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
	 animation-duration: 0.01ms !important;
	 animation-iteration-count: 1 !important;
	 transition-duration: 0.01ms !important;
	 scroll-behavior: auto !important;
   }
 }
@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
	--color-white: #ffffff;
	--color-black:#000000;
	--color-light:#6B4531;
	--color-dark:#42331E;
	--color-green:#395219;

	--border-radius:50px;
	--border: 1px solid var(--color-light);
	--font-family-base: 'Gotham Pro', sans-serif;
	
	--input-height:54px;

	--container-width:1728px;
	--container-padding-x: 15px;

	--transition-duration: 0.2s;
}
body {
	font-family: 'Gotham Pro';
}
a{
	text-decoration: none;
}
.container {
	max-width: calc(var(--container-width) + var(--container-padding-x)*2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
  }
  

.header {
	background-image: url(./img/bg.jpg);
	height: 130vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

.header-line{
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-item {
	color:#6B4531;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;

	margin-right: 120px;

	transition: color 0.3s linear;
}
.nav-item:hover {
	color:black;
}
.button {
	color:#6B4531;
	text-decoration: none;
	padding: 15px 25px;
	font-size: 18px;
	font-weight: 700;

	border: 2px solid #6B4531;
	border-radius: 30px;

	transition: color 0.2s linear;

}
.button:hover {
	color:black;
}

.text{
	color: #442B1F;
	font-size: 50px;
	font-weight: 700;
	margin: 230px 50px;
	font-family: 'Gotham Pro';
}
.sp{
	font-size: 32px;
	font-weight: 500;
	font-style: italic;
}
.coffeemap{
	background-image: url(./img/map.jpg);
	height: 130vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.map-title{
	color: #fff;
	font-size: 45px;
	font-weight: 500;
	text-align: center;
	padding-top: 20px;
}
.ourteam{
	background-image: url(./img/ourteam.jpg);
	height: 130vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.team-title{
	color: #42331E;
	font-size: 45px;
	font-weight: 700;
	text-align: left;
	padding-top: 120px;
	padding-left: 100px;
}
.history{
	color:#000000;
	font-size: 20px;
	font-weight: 400;
	width: 400px;
	text-align: left;
	padding-left: 900px;
	padding-top: 100px;
}
.TG-bot{
	background-image: url(./img/tgbot.jpg);
	height: 130vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.bot-title{
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	text-align: left;
	padding-top: 120px;
	padding-left: 100px;
}
.text-item{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	padding-left: 100px;
	display: flex;
	
	margin: 82px;
}
.footer{
	background-image: url(./img/footer.jpg);
	height: 130vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer-title{
	color: #442B1F;
	font-size: 55px;
	font-weight: 700;
	text-align: center;
}

.adress {
	margin-left: 800px;
	margin-top: 100px;
	display: inline-block; 
	border: 5px solid green; 
	border-radius: 15px; 
	box-sizing: border-box;
	position: absolute;
}
.adress img {
	display: block;
	width: 100%; 
	height: auto; 
	border-radius: 10px; 
}
.pin{
	padding-top: 200px;
	display: flex;
	
}
.pin-title{
	font-size: 20px;
	font-weight: 400;
	margin-top: 100px;
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-weight: 600;
}

.number{
	position: relative;
	top:30px;
	left:100px;
}
.VK{
	position: relative;
	top:30px;
	left:250px;
}
.email{
	position: relative;
	top:70px;
	left:400px;
}
.footer-desk{
	color: black;
	font-size: 25px;
	font-weight: 600;
	position: relative;
	left:600px;
}